node_modules
**/node_modules
angular-seed-base
apostrophe-sandbox
cordova
keystone
max
meteor-react-test
meteor-test
pencilblue
sails
simple-todos
telescope-test
tyler-meteor
viewport-embed
viewport-resizer